body {
	margin: auto;
	background: #ebdb98;
	background-image: -webkit-linear-gradient(left,
	#700c54 0px,
	#700c54 200px,
	#ebdb98 200px);
	background-image: linear-gradient(left,
	#700c54 0px,
	#700c54 200px,
	#ebdb98 200px);
	background-image: -moz-linear-gradient(left,
	#700c54 0px,
	#700c54 200px,
	#ebdb98 200px);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: 	#ebdb98;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
}

header {
	border-right: 5px solid #700c54;
	border-bottom: 5px solid #700c54;
	border-top: 5px solid #700c54;
	background: #76abbb;
	margin-left: 200px;
	padding: 25px;
}

nav {
	background: #700c54;
	float: left;
	position: absolute;
	font-size: 18px;	
}

main {
	margin-top: 20px;
	margin-left: 250px;
	margin-right: 100px;
	color: #586492;
}

main a:link {
	color: #700c54;
}

main a:visited {
	color: #700c54;
}

main a:hover {
	color: #76abbb;
}

main a:active {
	color: #700c54;
}

table, th, tr, td {
	padding: 10px;
}

a:link {
	color: #700c54;
	text-decoration: none;
}

a:visited {
	color: #586492;
	text-decoration: none;
}

a:hover {
	color: #ebdb98;
	text-decoration: underline;
}

a:active {
	color: #700c54;
	text-decoration: none;
}

ul a:link {
	color: #ebdb98;
	font-size: 30px;
}

ul a:visited {
	color: #ebdb98;
	font-size: 30px;
}

ul a:hover {
	color: #ebdb98;
	font-size: 35px;
}

ul a:active {
	color: #ebdb98;
	font-size: 30px;
}
