body {
	margin: auto;
	background-image: url(light_grey.png);
	background-attachment: fixed;
	color: #000000;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
}

header {
	background-image: -webkit-linear-gradient(top,
	#c5c3d6 0px,
	#37fdfc 250px);
	background-image: linear-gradient(top,
	#c5c3d6 0px,
	#37fdfc 250px);
	background-image: -moz-linear-gradient(top,
	#c5c3d6 0px,
	#37fdfc 250px);
	text-align: center;
}

nav {
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #008080;
    top: 230px;
    width: 100%;
}

li {
    float: left;
}

li a {
	display: block;
    color: #c5c3d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	color: #c5c3d6;
	background-color: #000000;
}

main {
	padding: 20px;
	color: #000000;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
	text-align: center;
}

a {
	color: #008080;
	text-decoration: none;
}

a:hover {
	color: #000000;
}


